body {
  background-color: beige;
  border: 0.1rem solid rgb(212, 242, 245);
  border-radius: 0.3rem;
  box-shadow: 5px 2px 1px rgb(241, 233, 193);
  padding: 1rem 1rem 3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.menu {
  font-size: 1.2rem;
}

.disp {
  display: block;
  box-sizing: border-box;
  box-sizing: border-box;
  width: 500px;
  padding: 10px;
  border: 3px solid rgb(38, 116, 2);
  border-radius: 15px 30px 50px 0px;
  margin: 2rem 5rem 6rem 3rem;
}

.inl {
  box-sizing: content-box;
  width: 500px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 0px 50px 30px 15px;
  padding: 30px 10px;
  margin: 2rem 5rem 6rem 3rem;
}

.ov-hid {
  background-color: aquamarine;
  width: 600px;
  height: 400px;
  margin-bottom: 2rem;
  overflow: hidden;
}

.ov-auto {
  border: 0.5rem solid green;
  overflow: auto;
}

.ov-scrol {
  background-color: aquamarine;
  width: 600px;
  height: 400px;
  margin-bottom: 2rem;
  overflow: scroll;
}

/*position v.1*/

.wrapper {
  background-color: #029EFF;
  padding: 20px;
  font-family: sans-serif;
  font-size: 30px;
  position: relative;
  overflow: auto;
}

.first-block {
  background-color: #6de875;
  position: sticky;
  top: 20px;
}

.second-block {
  background-color: #fe8174;
}

.third-block {
  background-color: #ff88eb;
}

/*position v.2/


        .block__1

        .block__2


        .block__3

