body {
  background-color: beige;
  border: 0.1rem solid rgb(212, 242, 245);
  border-radius: 0.3rem;
  box-shadow: 5px 2px 1px rgb(241, 233, 193);
  padding: 0.4rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.menu {
  font-size: 1.2rem;
}

.disp {
  display: block;
  box-sizing: border-box;
  box-sizing: border-box;
  width: 500px;
  padding: 10px;
  border: 3px solid rgb(38, 116, 2);
  border-radius: 15px 30px 50px 0px;
  margin: 2rem 5rem 6rem 3rem;
}

.inl {
  box-sizing: content-box;
  width: 500px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 0px 50px 30px 15px;
  padding: 30px 10px;
  margin: 2rem 5rem 6rem 3rem;
}

.ov-hid {
  background-color: aquamarine;
  width: 600px;
  height: 400px;
  margin-bottom: 2rem;
  overflow: hidden;
}

.ov-auto {
  border: 0.5rem solid green;
  overflow: auto;
}

.ov-scrol {
  background-color: aquamarine;
  width: 600px;
  height: 400px;
  margin-bottom: 2rem;
  overflow: scroll;
}

.wrapper {
  background-color: red;
  width: 200px;
  height: 200px;
  border: 5px double rgb(58, 163, 254);
  border-radius: 5px;
  padding: 10px;
  margin: 1rem;
}

.col {
  background-color: rgb(144, 119, 72);
  width: 150px;
  height: 150px;
  overflow: scroll;
  border: 3px solid rgb(71, 241, 116);
  border-radius: 5px;
  padding: 10px;
  margin: 1rem;
  position: relative;
  left: 10rem;
  top: 40rem;
}

.conteiner {
  background-color: rgb(251, 233, 181);
  height: 50rem;
  width: 30rem;
  border: 3px solid rgb(241, 167, 71);
  border-radius: 5px;
  padding: 20px;
  position: absolute;
}
